.eventCardDivOuter{
    border-top: 1px rgb(217,217,217) solid;
    height: 125px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    cursor: pointer;
    width: 100%; 
}

.eventCard-previewImg{
    max-width: 100%;
    max-height: 100%; 
    object-fit: cover;
    border-radius: 8px;
}

.eventCard-right-div{
    width: 75%;
    margin-left: 10px;
}

.eventCard-left-div{
    width: 25%;
}
