.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline-start: 5px;
}

.meetupIcon {
    height: 30px;
}

.hidden {
    display: none
}

.rightButtons{
    display: flex;
}
